<!-- Container Pagina Angajati -->
<div class="container p-4">

  <!-- H1 Titlu Pagina -->
  <h1>
    Utilizatori
  </h1>

  <!-- Tabel Agajati -->
  <!-- <table class="table table-light table-striped" *ngIf="users && users.length > 0 "> -->
  <!-- Head -->
  <!-- <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nume</th>
        <th scope="col">Email</th>
        <th> </th>
      </tr>
    </thead> -->

  <!-- Body -->
  <!-- <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.userId}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><a [routerLink]="['/users','edit', user.userId]">View</a></td>
      </tr>
    </tbody>
  </table> -->

  <!-- Container -->
  <div class="container">

    <!-- Linie pentru fiecare user -->
    <div class="row">

      <!-- Coloana -->
      <div class="col-sm p-3" *ngFor="let user of users">
        
        <!-- Card de user -->
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src={{user.picture}} alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">{{user.name}}</h5>
            <hr>
            <a [routerLink]="['/users','edit', user.userId]" class="btn btn-primary">Edit</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- If Daca Nu Exista Angajati -->
  <p *ngIf="!users || users.length <= 0">
    Niciun utilizator gasit
  </p>
</div>