<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="">Glocal Soft</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--  -->
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">

      <!-- Vizualizare Angajati si Utilizatori -->
      <div>
        <ul class="navbar-nav">

          <!-- Link Pt. Vizulaizare Angajati -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees">Angajati</a>
          </li>

          <!-- Link Pt. Aduagare Angajati -->
          <li class="nav-item">
            <a *ngIf="(authService.isAuthenticated$ | async)" class="nav-link active" aria-current="page" routerLink="employees/add">Adauga Angajati</a>
          </li>

          <!-- Link Pt. Vizulaizare Departamente -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="departments">Departamente</a>
          </li>

          <!-- Link Pt. Vizulaizare Adaugare Departament -->
          <li class="nav-item">
            <a *ngIf="(authService.isAuthenticated$ | async)" class="nav-link active" aria-current="page" routerLink="departments/add">Adauga Departamente</a>
          </li>

        </ul>
      </div>

      <!-- Inregstrare / Conectare -->
      <div>
        <ul class="navbar-nav">

          <!-- Link Pt. Lista Utilizator -->
          <li class="nav-item">
            <a *ngIf="(authService.isAuthenticated$ | async)" class="nav-link active" aria-current="page" routerLink="users">Utilizatori</a>
          </li>

          <!-- Link Pt. Conectare Pe Cont Cu Auth0 -->
          <li class="nav-item">

            <!-- Login Auth0 Buton -->
            <app-login-auth0 *ngIf="(authService.isAuthenticated$ | async) == false"></app-login-auth0>

            <!-- Logout Auth0 Buton -->
            <app-logout-auth0 *ngIf="authService.isAuthenticated$ | async"></app-logout-auth0>
          </li>

        </ul>

      </div>

    </div>

  </div>

</nav>

<router-outlet></router-outlet>