<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="">Glocal Soft</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--  -->
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">

      <!-- Vizualizare Angajati si Utilizatori -->
      <div>
        <ul class="navbar-nav">

          <!-- Link Pt. Vizulaizare Angajati -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees">Angajati</a>
          </li>

          <!-- Link Pt. Aduagare Angajati -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="employees/add">Adauga Angajati</a>
          </li>

          <!-- Link Pt. Lista Utilizator -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="users">Utilizatori</a>
          </li>

        </ul>
      </div>

      <!-- Inregstrare / Conectare -->
      <div>
        <ul class="navbar-nav">

          <!-- Link Pt. Inregistrare Pe Cont -->
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="register">Inregistrare</a>
          </li> -->

          <!-- Link Pt. Conectare Pe Cont Cu Auth0 -->
          <li class="nav-item">

            <!-- Test Auth0 Comp Adaugare User -->
            <app-add-user-auth0 *ngIf="auth.isAuthenticated$ | async"></app-add-user-auth0>

            <!-- Token Auth0 Button -->
            <app-get-token-auth0 *ngIf="auth.isAuthenticated$ | async"></app-get-token-auth0>

            <!-- User Data Button -->
            <app-get-user-data-auth0 *ngIf="auth.isAuthenticated$ | async"></app-get-user-data-auth0>

            <!-- Login Auth0 Buton -->
            <app-login-auth0 *ngIf="(auth.isAuthenticated$ | async) == false"></app-login-auth0>

            <!-- Logout Auth0 Buton -->
            <app-logout-auth0 *ngIf="auth.isAuthenticated$ | async"></app-logout-auth0>
          </li>

        </ul>

      </div>

    </div>

  </div>

</nav>

<!-- Afisare mesaj cu bun venit -->

<!-- <div class="container">
  <div *ngIf="auth.user$ | async as user">
    <h1>Welcome, {{ user.name }}</h1>
  </div>
</div> -->

<router-outlet></router-outlet>