<!-- Container Pagina Editare Angajati -->
<div class="container p-4">

    <!-- H1 Titlu Pagina -->
    <h1>
        Adauga un angajat nou
    </h1>

    <!-- Form Pentru Editare Angajati -->
    <form #form="ngForm" (ngSubmit)="updateEmployee()">

        <!-- Field Nume -->
        <div class="mb-3">
            <label for="name" class="form-label">Nume</label>
            <input
                type="text"
                class="form-control"
                id="name"
                name = "name"
                ngModel
                #name = "ngModel"
                [(ngModel)] = "employeeDetails.name"
            >
        </div>

        <!-- Field Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input 
                type="text" 
                class="form-control" 
                id="email"
                name = "email"
                aria-describedby="emailHelp"
                ngModel
                #email = "ngModel"
                [(ngModel)] = "employeeDetails.email"
            >
        </div>

        <!-- Field Telefon -->
        <div class="mb-3">
            <label for="phone" class="form-label">Telefon</label>
            <input 
                type="text" 
                class="form-control" 
                id="phone"
                name = "phone"
                ngModel
                #phone = "ngModel"
                [(ngModel)] = "employeeDetails.phone"
            >
        </div>

        <!-- Field Salariu -->
        <div class="mb-3">
            <label for="salary" class="form-label">Salariu</label>
            <input 
                type="number" 
                class="form-control" 
                id="salary"
                name = "salary"
                ngModel
                #salary = "ngModel"
                [(ngModel)] = "employeeDetails.salary"
            >
        </div>

        <!-- Field Departamanet -->
        <div class="mb-3">
            <label for="department" class="form-label">Departament</label>
            <input 
                type="text" 
                class="form-control" 
                id="department"
                name = "department"
                ngModel
                #department = "ngModel"
                [(ngModel)] = "employeeDetails.department"
            >
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <!-- Buton Submit -->
            <button type="submit" class="btn btn-warning" (click)="console(form)">Modifica</button>

            <!-- Buton Delete -->
            <button type="delete" class="btn btn-danger" (click)="console(form)" (click)="deleteEmployee(employeeDetails.id)">Sterge</button>
        </div>

      </form>
</div>