<!-- Container Pagina Angajati -->
<div class="container p-4">

    <!-- H1 Titlu Pagina -->
    <h1>
        Inreistreaza-te
    </h1>

    <!-- Formular Inscriere -->
    <form #form="ngForm" (ngSubmit)="login()">
        
        <!-- Label Email -->
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                aria-describedby="emailHelp"
                name="email"
                [(ngModel)] = "userIdRequest.email"
            >
        </div>

        <!-- Label Parola -->
        <div class="form-group mb-3">
            <label for="password">Parola</label>
            <input 
                type="password" 
                class="form-control" 
                id="password"
                name="password"
                [(ngModel)] = "userIdRequest.password"
            >
        </div>

        <!-- Buton Inregistrare -->
        <button type="submit" class="btn btn-success">Intregisreaza-te</button>
    </form>
</div>
