<!-- Container Pagina Angajati -->
<div class="container p-4">

    <!-- H1 Titlu Pagina -->
    <h1>
        Conecteaza-te
    </h1>

    <!-- Formular Inscriere -->
    <form #form="ngForm" (ngSubmit)="login()">

        <!-- Validari -->
        <div class="validation">

            <!-- Erori de validare Email -->
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                <!-- Email nespecificat -->
                <div *ngIf="email.errors?.['required']">
                    Email-ul este necesar
                </div>

                <!-- Email invalid -->
                <div *ngIf="prmEmail.errors?.['email']">
                    Email invalid
                </div>

            </div>

            <!-- Erori de validare Parola -->
            <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

                
                <div *ngIf="password.errors?.['required']">
                    Parola este necesara
                </div>

            </div> -->

        </div>

        <!-- Label Email -->
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" ngModel #prmEmail="ngModel"
                #email="ngModel" required [(ngModel)]="userIdRequest.email" email="true">
        </div>

        <!-- Label Parola -->
        <!-- <div class="form-group mb-3">
            <label for="password">Parola</label>
            <input type="text" class="form-control" id="password" name="password" ngModel #password="ngModel" required
                [(ngModel)]="userIdRequest.password">
        </div> -->

        <!-- Buton Inregistrare -->
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Intregisreaza-te</button>

        <!-- Buto Autentificare Auth 0 -->
        <button class="btn btn-primary" (click)="loginWithRedirect()">Auth0</button>

    </form>
</div>