<!-- Container Pagina Angajati -->
<div class="container p-4">
    
    <!-- H1 Titlu Pagina -->
    <h1>
        Angajatii Departamentului
    </h1>

    <!-- Tabel Agajati -->
    <table class="table table-light table-striped" *ngIf = "employees && employees.length > 0 ">
        <!-- Head -->
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nume</th>
              <th scope="col">Email</th>
              <th scope="col">Telefon</th>
              <th scope="col">Salariu</th>
              <th>Edit</th>
            </tr>
        </thead>

        <!-- Body -->
        <tbody>
            <tr *ngFor="let employee of employees" >
              <td>{{employee.employeeId}}</td>
              <td>{{employee.name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.phone}}</td>
              <td>{{employee.salary}}</td>
              <td><a [routerLink]="['/employees','edit', employee.employeeId]">Edit</a></td>
            </tr>
          </tbody>
    </table>
    
    <!-- If Daca Nu Exista Angajati -->
    <p *ngIf = "!employees || employees.length <= 0">
        Niciun angajat gasit
    </p>

</div>